<!DOCTYPE html>
<html>
  <head>
    <title>Local Bowling Alley</title>
  </head>

  <body>
    <h1> Buster's Best Bowling Alley</h1>
    <h2>Bowling alley tag line</h2>
    <p>Bowling alley address</p>
  </body>

</html>
